{% extends 'base.html' %}
{% block body %}
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Domo Task Management</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/media/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/media/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

{% endblock %}