<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DOMO Task Management</title>

    <script type="text/javascript" src="/media/js/jquery.js" ></script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/login.css">
    <link rel="stylesheet" href="/media/css/simple-sidebar.css">
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>
