{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="form-horizontal" action='/administration/authenticate/' method="POST">{% csrf_token %}
                <div class="form-login">
                    <h4>DOMO Task Management</h4>
                    <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div>
                        {% if messages %}
                            {% for message in messages %}
                                <span style="color: red;">{{message}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                        <input type="submit" value="Login" class="btn btn-primary btn-md" />{% if error %}{{error}}{% endif %}
                    </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}