{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div id="wrapper">
        <!-- sidebar-wrapper -->
        {% include 'sidebar.html' %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Code Review - {{request.user}} Tasks</h1>
                    <form method="POST" action="/administration/review/add/">{% csrf_token %}
                    <div style="height: 650px; overflow: auto; margin-top: 30px;">
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="task_id">SubTask:</label>
                            <select name="subtask_id" id="subtask_id">
                                {% for subtask in user_subtask_objects %}
                                    <option value={{subtask.id}} {% ifequal subtask.id subtask_obj.id %}selected="selected"{% endifequal %}>{{subtask.subtask_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="assigned_to">Reviewer:</label>
                            <select name="reviewer" id="reviewer">
                            {% for user in users %}
                                <option value={{user.id}}>{{user.username}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="review_type">Review Type:</label>
                            <select name="review_type" id="review_type">
                            {% for review_type in review_type_choice %}
                                <option value={{review_type.1}}>{{review_type.1}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="review_date">Review Date:</label>
                            <input type="text" name="review_date" id="review_date" class="form-control" readonly style="width: 200px;" />
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="pull_request">Pull Request:</label>
                            <input type="text" name="pull_request" id="pull_request" class="form-control" style="width: 150px;" />
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="filename">File Name:</label>
                            <input type="text" name="filename" id="filename" class="form-control" style="width: 300px;" />
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="Comment">Comment:</label>
                            <textarea name="comment" id="comment" class="form-control" style="width: 700px; height: 100px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="date_of_fix">Fixed Date:</label>
                            <input type="text" name="fixed_date" id="fixed_date" class="form-control" readonly style="width: 200px;" />
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="status">Status:</label>
                            <select name="status" id="status">
                            {% for status in cr_status %}
                                <option value="{{status.1}}">{{status.1}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <span style="color:red;">*</span>
                            <label for="status">RCA:</label>
                            <select name="rca" id="rca">
                            {% for rca in rca_list %}
                                <option value="{{rca.1}}">{{rca.1}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    <span style="color: red;">{{message}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default" style="float: right;">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/media/js/jquery.numeric.js" ></script>
    <script type="text/javascript">
    $(function () {
        $('#fixed_date').datepicker();
    });
    $(function () {
        $('#review_date').datepicker();
    });
    $(document).ready(function(){
        $("#pull_request").numeric();
    });

    </script>
    {% endblock %}
{% endblock %}