        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li style="color: white;">
                    Welcome {{request.user}}
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="/administration/sprint/">Sprint</a>
                </li>
                <li>
                    <a href="/administration/task/">Story</a>
                </li>
                <li>
                    <a href="/administration/subtask/">SubTask</a>
                </li>
                <li>
                    <a href="/administration/effort/">SubTask Details</a>
                </li>
                <li>
                    <a href="/administration/tracking/">Effort Tracking</a>
                </li>
                <li>
                    <a href="/administration/review/">Code Review</a>
                </li>
                <li>
                    <a href="#">Reporting</a>
                </li>
                <li>
                    <a href="/administration/profile/">Profile</a>
                </li>
                <li>
                    <a href="/administration/login/">Logout</a>
                </li>
            </ul>
        </div>
